$grid-breakpoints: (
    xs: 0,
    sm: 640px,
    // => @media (min-width: 640px) { ... }
    md: 768px,
    // => @media (min-width: 768px) { ... }
    lg: 1024px,
    // => @media (min-width: 1024px) { ... }
    xl: 1440px
);
$grid-gutter-width: 2rem;
$container-max-widths : (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1312px
);